@using FactoryPlatform.Areas.Quality.Models.ControlPanel.DocumentList
@model DocumentList_CP_ModelView
@{
    ViewData["Title"] = ViewData["Titulo"];
}

<div class="post d-flex flex-column-fluid border" id="kt_post">
    <div id="kt_content_container" class="container-fluid">
        <div id="kt_block">
            <div class="card mb-5">
                <div class="card-body p-5 mb-0" id="BlockPantalla">

                </div>
            </div>
        </div>
    </div>
</div>
