@page "/StandarizationJS"
@{
    ViewData["Title"] = " Standarization JS";

}

<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-fluid">
        <!--begin::Accordion-->
        <div class="accordion" id="kt_accordion_1">
            @*AJAX*@
            <div class="accordion-item">
                <h1 class="accordion-header" id="kt_accordion_1_header_1">
                    <button class="accordion-button fs-4 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_1" aria-expanded="false" aria-controls="kt_accordion_1_body_1">
                       AJAX 
                    </button>
                </h1>
                <div id="kt_accordion_1_body_1" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_1" data-bs-parent="#kt_accordion_1">
                    <div class="accordion-body">
                        <div class="py-5">This is the ajax structure that used in the new FactoryPlatform for use you need to put JQuery like MND at the end of the Layout.</div>
                        <!--begin::Code-->
                        <div class="py-5">
                            <div class="highlight">
                                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                                <div class="highlight-code">
                                    <pre class="language-javascript">
                                    <code class="language-javascript">
                                        //Write Arroba before to URL
                                           $.ajax({
                                            url: "Url.Action("Action","Controlador")",
                                            data: {
                                               variable:variable,
                                            },
                                            type: "POST",
                                            beforeSend: function (xhr) 
                                            {
                                                xhr.setRequestHeader("XSRF-TOKEN",
                                                $('input:hidden[name="__RequestVerificationToken"]').val());
                                            },
                                            }).done(function(result)
                                            {
                                                if(result != null)
                                                {
                                                    if (result == 'Error') {
                                                        SystemServerError()
                                                    }
                                                    else if (result == 'noSession') 
                                                    {
                                                        swalExpired()
                                                    }
                                                    else if (result == 'Sorry') 
                                                    {
                                                        swalNoAuthorized()
                                                    }
                                                    else if (result == 'NoPage') 
                                                    {
                                                        swalNoAuthorized()
                                                    }
                                                }
                                                else
                                                {
                                                     SystemServerError()
                                                }
                                            }).fail(function (error) 
                                            {
                                                swalErrorServer()
                                            });
                                    </code>
                                </pre>
                                </div>
                            </div>
                        </div>
                        <!--end::Code-->
                    </div>
                </div>
            </div>
            @*Validation of File Types*@
            <div class="accordion-item">
                <h1 class="accordion-header" id="kt_accordion_1_header_2">
                    <button class="accordion-button fs-4 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_2" aria-expanded="false" aria-controls="kt_accordion_1_body_2">
                       Validation of File Types
                    </button>
                </h1>
                <div id="kt_accordion_1_body_2" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_2" data-bs-parent="#kt_accordion_1">
                    <div class="accordion-body">
                        <div class="py-5">With this we can choce wath king of file upload.</div>
                        <!--begin::Code-->
                        <div class="py-2">
                            <div class="highlight">
                                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                                <div class="highlight-code">
                                    <pre class="language-javascript">
                                    <code class="language-javascript">
                                        var analysis =  document.getElementById("FileAC").files;

                                        var files = /(.*?)\.(xls|xlsx|csv|docx|doc|ppt|pptx|pdf)$/;
                                        var formData = new FormData();

                                        if (analysis[0].name.match(files)) 
                                        {
                                            formData.append("FileAC", analysis[0]);
                                        }

                                    </code>
                                </pre>
                                </div>
                            </div>
                        </div>
                        <!--end::Code-->
                    </div>
                </div>
            </div>
            @*System Alerts and SwalAlert*@
            <div class="accordion-item">
                <h1 class="accordion-header" id="kt_accordion_1_header_3">
                    <button class="accordion-button fs-4 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_3" aria-expanded="false" aria-controls="kt_accordion_1_body_3">
                        System Alerts and SwalAlert
                    </button>
                </h1>
                <div id="kt_accordion_1_body_3" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_3" data-bs-parent="#kt_accordion_1">
                    <div class="accordion-body">
                        <div class="py-5">Alert used in diferents Ajax for return results.</div>
                        <!--begin::Code-->
                        <div class="py-2">
                            <div class="highlight">
                                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                                <div class="highlight-code">
                                    <pre class="language-javascript">
                                    <code class="language-javascript">
                                           // This swal alert is used when the session was expired
                                           swalExpired()

                                           //This alert is used when the users no have the page or subsection linked
                                           swalNoAuthorized()

                                           //Used for the errors of the sytem server
                                           SystemServerError()  

                                           //When some was saved corretly
                                           Swal.fire({
                                                text: "The action has been successfully submitted!",
                                                icon: "success",
                                                buttonsStyling: false,
                                                allowEscapeKey: false,
                                                allowOutsideClick: false,
                                                confirmButtonText: "Ok, got it!",
                                                customClass: {
                                                    confirmButton: "btn btn-primary"
                                                }
                                            }).then((result) => {
                                                if (result.isConfirmed) 
                                                {
                                                    //Line for reload the page
                                                }
                                            }); 


                                            swal.fire({
                                                text: "Sorry, looks like there are some empty inputs detected, please try again.",
                                                icon: "error",
                                                buttonsStyling: false,
                                                confirmButtonText: "Ok, got it!",
                                                customClass: {
                                                    confirmButton: "btn font-weight-bold btn-light-primary"
                                                }
                                            });

                                    </code>
                                </pre>
                                </div>
                            </div>
                        </div>
                        <!--end::Code-->
                     
                    </div>
                </div>
            </div>
            @*Helpers*@
            <div class="accordion-item">
                <h1 class="accordion-header" id="kt_accordion_1_header_4">
                    <button class="accordion-button fs-4 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_4" aria-expanded="false" aria-controls="kt_accordion_1_body_4">
                        Helpers
                    </button>
                </h1>
                <div id="kt_accordion_1_body_4" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_4" data-bs-parent="#kt_accordion_1">
                    <div class="accordion-body">
                        <div class="py-5">...</div>
                        <!--begin::Code-->
                        <div class="py-2">
                            <div class="highlight">
                                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                                <div class="highlight-code">
                                    <pre class="language-javascript">
                                    <code class="language-javascript">
                                        
                                        <script>
                                            //Colapsa el ASIDE MENU este se utiliza cuando un reporte tiene mucha columnas permite que se muestre en fullscreen
                                            $(document).ready(function () {
                                                $("#kt_body").attr("data-kt-aside-minimize", "on");
                                            })

                                            //Permite ocultar  un elemento en el ejemplo oculta un botton seteando el atributo Hidden
                                            document.getElementById("RevBtnPdf").setAttribute("hidden", "hidden");

                                            //Con esto puedes ocultar un bloque de codigo por medio de la clase nativa de metronic: d-none
                                            var reportModel = document.getElementById("hideDataTable");
                                            reportModel.classList.add("d-none");
                                            reportModel.classList.remove("d-none");
                                            //============================================================================================

                                            //Esto permite seleccionar el valor del opcion que se le pase por el atributo data-selected
                                            document.querySelectorAll('[data-selected]').forEach(e => { e.value = e.dataset.selected });

                                            <select id="Estacion" name="Estacion" data-selected="Model.IdEstacion" class="form-select form-select-sm form-select p-3 fs-8" data-control="select2" data-placeholder="-- All Stations--" data-allow-clear="true" >
                                            <option></option>
                                                foreach (var item in Model.Quality_Workstations)
                                                {
                                                <option value="item.Value"> item.Text</option>
                                                }
                                            </select>
                                            //============================================================================================

                                            //Permite asignar un valor a un Select desde un json con su descripcion
                                            $("#IdSourceReviewUpdate option:contains(" + obj.InfoBasicaModal.Sources + ")").attr('selected', true).trigger('change');
                                            //============================================================================================

                                            //================= DATA TABLE SCRIP =================================

                                            //Agregar datos a data table desde json,

                                            //1.- Instanciamos datatable
                                            //2.- Limpiamos la tabla de los datos que tiene actualmente
                                            //3.-  Recorremos un for sobre el objeto json que trae los datos desde el backen y se iran agregreagando de 1 x 1.
                                            var obj = JSON.parse(result);

                                            var tablaModel = $('#TablaModels').DataTable();

                                            tablaModel.clear().draw();

                                            if (obj.length > 0) {

                                            for (var i = 0; i < obj.length; i++) 
                                            {
                                                tablaModel.row.add(
                                                [
                                                    `<a class="p-0 btn btn-sm  me-2" onclick="DeleteModel(this, ${obj[i].ID_Modelo})"><i class="fas fa-times fs-3 text-danger"></i></a>`,
                                                    `<a class="text-primary opacity-75-hover fs-6 fw-bold" onclick="OpenUpdateModel(this, '${obj[i].Modelo}')"> ${obj[i].Modelo}</a>`,
                                                    obj[i].Descripcion,
                                                    obj[i].VegeCode,
                                                    obj[i].FechaRegistro,
                                                    obj[i].UsuarioRegistro,
                                                ]).draw(false);
                                            }

                                            //Para borran se envia el this en una funcion se toma y se hace el delete de la columna
                                            `<a class="p-0 btn btn-sm  me-2" onclick="DeleteModel(this, ${obj[i].ID_Modelo})"><i class="fas fa-times fs-3 text-danger"></i></a>`,
                                            function DeleteModel(DeleteRow)
                                            {
                                                var table = $('#TablaModels').DataTable();
                                                table.row($(DeleteRow).parents('tr')).remove().draw();
                                            }

                                            //Para actulizar es similar al delete le mandamos el this en la funcion 
                                            tCell.row($(UpdateRowCell).parents('tr')).data([
                                                `<a class="p-0 btn btn-sm  me-2" onclick="UpdateModel(this, ${IdCell})"><i class="fas fa-times fs-3 text-danger"></i></a>`,
                                                `<a class="text-primary opacity-75-hover fs-6 fw-bold" onclick="OpenUpdateCell(this, ${IdCell}, '${Cell}')"> ${Cell}</a>`
                                            ]).draw();

                                        </script>
                                    </code>
                                </pre>
                                </div>
                            </div>
                        </div>
                        <!--end::Code-->
                    </div>
                </div>
            </div>
        
        </div>
        <!--end::Accordion-->
    </div>
</div>
